ul {
  margin: 0;
  padding: 0;

  & > li {
    list-style: none;

    & > a {
      text-decoration: none;
      color: #8e44ad;
      font-size: 24px;

      &:hover {
        color: #e74c3c;
        text-decoration: underline;
      }
    }
  }
}

p {
    border:1px solid #8e44ad;

  &.text-left {
    text-align: left;
  }
  &.text-right {
    text-align: right;
  }
  &.text-center {
    text-align: center;
  }
  &.text-justify {
    text-align: justify;
  }
}
